email: cameron@driz.co.uk
title: Cameron Drysdale
description: > # this means to ignore newlines until "baseurl:"
  Hello. I'm Cameron. Software engineer, UI/UX devigner, photographer, and mountain biker.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://driz.co.uk" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: driz
github_username:  iamdriz

# Build settings
markdown: kramdown
plugins:
  - jekyll-assets
  - jekyll-git_metadata
  - octopress-paginate

collections:
  notes:
    output: true
    permalink: /notebook/:title
  goodies:
    output: false

exclude:
  - Gemfile
  - Gemfile.lock
  - Rakefile

assets:
  source_maps: true # false on JEKYLL_ENV=production
  destination: "/assets"
  compression: true
  compressors:
    uglifier:
      comments: false
      harmony: true
  gzip: false
  defaults:
    js: { integrity: true } # true on JEKYLL_ENV=production
    css: { integrity: true } # true on JEKYLL_ENV=production
    img: { integrity: true } # true on JEKYLL_ENV=production
  caching:
    path: ".jekyll-cache/assets"
    type: file
    enabled: true
  cdn:
    baseurl: false
    destination: false
    url: 'https://duxd4cl9e05b5.cloudfront.net'
  sources:
    - assets/css
    - assets/fonts
    - assets/images
    - assets/videos
    - assets/javascript
    - assets/video
    - assets/image
    - assets/img
    - assets/js
    - _assets/css
    - _assets/fonts
    - _assets/images
    - _assets/videos
    - _assets/javascript
    - _assets/video
    - _assets/image
    - _assets/img
    - _assets/js
    - css
    - fonts
    - images
    - videos
    - javascript
    - video
    - image
    - img
    - js