<footer class="footer">
    <div class="container">
        {% include _social.html %}
        <ul class="footer-menu-list">
            <li class="footer-menu-list__item animation animation--fade-in">
                <a class="footer-menu-list__link" href="/">Home</a>
            </li>
            {% comment %}<li class="footer-menu-list__item animation animation--fade-in">
                <a class="footer-menu-list__link disabled" href="javascript:void(0);">Work</a>
            </li>
            <li class="footer-menu-list__item animation animation--fade-in">
                <a class="footer-menu-list__link disabled" href="javascript:void(0);">Notebook</a>
            </li>
            <li class="footer-menu-list__item animation animation--fade-in">
                <a class="footer-menu-list__link" href="/store">Store</a>
            </li>{% endcomment %}
            <li class="footer-menu-list__item animation animation--fade-in">
                <a class="footer-menu-list__link" href="/about">About</a>
            </li>
            <li class="footer-menu-list__item animation animation--fade-in">
                <a class="footer-menu-list__link" href="/contact">Contact</a>
            </li>
        </ul>
        <p class="copyright animation animation--fade-in">Copyright &copy; 1987-{{ "now" | date: "%Y" }} <strong>Cameron
                Drysdale</strong>. All rights reserved.</p>
        <p class="version animation animation--fade-in">
            {{ site.git.last_commit.commit_date | date: "%Y.%m.%d" }}.{{ site.git.total_commits }}
    </div>
</footer>