@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

b,
strong {
    font-weight: 600;
}

abbr[title] {
    text-decoration: none;
}

.bold {
    font-weight: 600;
}

.emphasis {
    font-style: italic;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

p:last-child {
    margin-bottom: 0;
}

ul,
ol {
    list-style-position: inside;
}

.content ul li {
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-family: 'Chrono', serif;
    font-weight: 800;
    color: #ffffff;

    strong {
        font-weight: 800;
    }
}

h1 {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 32px;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;
}

h3 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

p+h2,
p+h3,
ul+h2,
ul+h3 {
    margin-top: 32px;
}

.title {
    @include fluid-typography(320px, 1200px, 48px, 64px, 40px, 56px);
    margin-bottom: 16px;
}

.description {
    font-size: 24px;
    line-height: 32px;
}

p.drop,
p.large {
    font-size: 20px;
    line-height: 28px;
}

p.drop {
    font-weight: 600;
}

p.drop:first-letter {
    float: left;
    margin: 0 4px 0 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: var(--blue);
}

pre {
    padding: 16px;
    margin: 32px -24px;
    overflow: auto;
    border-radius: 16px;
    border: #fff 8px solid;
    box-shadow: rgba(0, 0, 0, .125) 0 0 16px;
}

article {
    counter-reset: footnotes;
}

[aria-describedby="footnote-label"] {
    counter-increment: footnotes;
    pointer-events: none;
    font-weight: normal;
    color: inherit;
}

[aria-describedby="footnote-label"]::after {
    content: '['counter(footnotes)']';
    position: relative;
    top: -.5em;
    font-size: .5em;
    margin-left: 4px;
    cursor: pointer;
    pointer-events: initial;
    font-weight: 600;
}

[aria-label="Back to content"] {
    font-size: 0.8em;
}

footer :target {
    background: yellow;
}

#footnotes li {
    font-size: 14px;
    line-height: 22px;
}

// :root {
//     --primary-color: #0075f2;
//     --secondary-color: #26ffe6;
// }

// :root {
//     --primary-color: #00aaff;
//     --secondary-color: #0088cc;
// }

.blue {
    color: var(--blue);
}

// .menu, .button, .footer-menu, .hello, .drop, .contact-links, .form__group__label, .error {
//     font-family: 'Poppins', sans-serif !important;
// }

// 16+48 = 64
// 16+32 = 48
.skills {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.skill {
    position: relative;
    z-index: 1;
    padding: 32px 32px;
    transition: all .2s ease-in-out;
}

.skill:before {
    box-shadow: rgba(0, 0, 0, .0625) 0 0 16px;
    background: #fff;
    border-radius: 16px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all .2s ease-in-out;
}

@media (min-width: 768px) {
    .skill:first-child:after {
        position: absolute;
        z-index: -2;
        //content: '';
        width: calc(50% + 8px);
        height: calc(50% + 8px);
        background: linear-gradient(45deg, #00AAFF 12.5%, saturate(#00AAFF, 12.5%) 62.5%);
        background: var(--blue);
        top: -8px;
        left: -8px;
        transition: all .2s ease-in-out;
        border-top-left-radius: 24px;
    }

    .skill:last-child:after {
        position: absolute;
        z-index: -2;
        //content: '';
        width: calc(50% + 8px);
        height: calc(50% + 8px);
        background: linear-gradient(45deg, #00AAFF 12.5%, saturate(#00AAFF, 12.5%) 62.5%);
        background: var(--blue);
        bottom: -8px;
        right: -8px;
        transition: all .2s ease-in-out;
        border-bottom-right-radius: 24px;
    }
}

// .skill__icon {
//     transition: all .2s ease-in-out;
// }

// .skill:hover {
//     transform: translateY(-8px);
//     &:before {
//         box-shadow: rgba(0,0,0,0.125) 0 16px 32px;
//         background-color: var(--blue);
//     }

//     &:first-child {
//         &::after {
//             width: calc(100% - 24px);
//             height: calc(100% - 24px);
//         }
//     }

//     &:last-child {
//         &::after {
//             width: calc(100% - 24px);
//             height: calc(100% - 24px);
//         }
//     }

//     .skill__icon {
//         color: var(--blue) !important;
//     }
// }