// core
@import 'root';
@import 'variables';
@import 'utilities';
@import 'mixins';
@import 'typography';

// vendor
@import 'vendor/fontawesome';

// components
@import 'components/button';
@import 'components/form';
@import 'components/pagination';
@import 'components/contact-links';
@import 'components/client-logos';
@import 'components/grid';
@import 'components/skills';
@import 'components/post';
@import 'components/divider';
@import 'components/panel';
@import 'components/figure';
@import 'components/nutshell-list';
@import 'components/highlight';
@import 'components/photo-list';
@import 'components/work-list';
@import 'components/animation';
@import 'components/social';

// partials
@import 'partials/header';
@import 'partials/footer';
@import 'partials/intro';

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--black);
    color: var(--foreground);
    overflow-x: hidden;
}

::selection {
    color: var(--black);
    background-color: var(--blue);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    transition: all .2s ease-in-out;
    box-shadow: inset rgba(255, 255, 255, .25) 0 -4px 0;
}

a:hover {
    color: var(--black);
    box-shadow: inset var(--blue) 0 -2.1em 0;
}

.turbo-progress-bar,
.turbolinks-progress-bar {
    height: 2px;
    background-color: var(--blue);
}

.blinking-cursor {
    animation: 1s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}