@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins";
@import "//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic";
@import "//fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

::selection {
    color: #000000; 
    background: #00AAFF;
}

body {
    background-color: #000000;
    color: #CCCCCC;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

b, strong {
    font-weight: 600;
}

a {
    color: #CCCCCC;
    font-weight: 600;
    text-decoration: none;
    transition: all .2s ease-in-out;
    &:hover {
        color: #00AAFF;
    }
}

.link {
    font-weight: 600;
    color: #CCCCCC;
    position: relative;
    white-space: nowrap;
    &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        z-index: -1;
        height: 2px;
        background-color: #00AAFF;
        transition: all .2s ease-in-out;
    }
    &:hover {
        color: #000000;
        &:after {
            height: 24px;
        }
    }
}

p {
    font-size: 16px;
    line-height: 24px;
}

.break {
    @media (max-width: 991px) {
        display: block;
    }
}

.container {
    margin: auto;
    min-height: 100%;
    @media (max-width: 767px) {
        padding: 40px 20px;
        padding-top: calc(constant(safe-area-inset-top) + 40px);
        padding-top: calc(env(safe-area-inset-top) + 40px);
        padding-bottom: calc(constant(safe-area-inset-bottom) + 40px);
        padding-bottom: calc(env(safe-area-inset-bottom) + 40px);
        padding-left: calc(constant(safe-area-inset-left) + 20px);
        padding-left: calc(env(safe-area-inset-left) + 20px);
        padding-right: calc(constant(safe-area-inset-right) + 20px);
        padding-right: calc(env(safe-area-inset-right) + 20px);
    }
    @media (min-width: 768px) {
        padding: 40px 40px;
    }
    @media (max-width: 991px) {
        text-align: center;
    }
    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo contact"
            "intro photo"
            "footer footer";
        grid-column-gap: 80px;
        max-width: 1200px;
        align-items: center;
        .contact {
            grid-area: contact;
            align-self: end;
            margin-bottom: 40px;
        }
        .logo {
            grid-area: logo;
            align-self: end;
        }
        .intro {
            grid-area: intro;
        }
        .photo {
            grid-area: photo;
        }
        .footer {
            grid-area: footer;
            align-self: start;
        }
    }
}

.logo {
    @media (max-width: 991px) {
        margin-bottom: 40px;
        img {
            height: 48px;
        }
    }
    @media (min-width: 992px) {
        margin-bottom: 40px;
        img {
            height: 72px;
        }
    }
}

.contact {
    list-style: none;
    margin: 0;
    .contact__item {
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 992px) {
            display: flex;
            justify-content: flex-end;
        }
        .contact__link {
            @media (max-width: 991px) {
                .contact__icon {
                    display: none;
                }
            }
            @media (min-width: 992px) {
                display: flex;
                align-items: center;
                .contact__icon {
                    margin-left: 4px;
                }
            }
        }
    }
}

.intro {
    @media (max-width: 991px) {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }
}

.title {
    @include fluid-font-size(320px, 1200px, 36px, 48px);
    @include fluid-line-height(320px, 1200px, 52px, 64px);
    margin-bottom: 40px;
    font-weight: 900;
    color: #ffffff;
}

.description {
    @include fluid-font-size(320px, 1200px, 20px, 32px);
    @include fluid-line-height(320px, 1200px, 36px, 46px);
    font-family: 'Merriweather', serif;
    margin-bottom: 40px;
}

 .photo {
    img {
        border-radius: 0 12.5% 0 12.5%;
    }
    @media (max-width: 991px) {
        margin: 40px auto;
        max-width: 66.6666666666%;
    }
}

.footer {
    display: flex;
    @media (max-width: 991px) {
        margin-top: 40px;
        flex-flow: column nowrap;
    }
    @media (min-width: 992px) {
        margin-top: 40px;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .social {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @media (max-width: 991px) {
            margin-top: 40px;
            &:first-child {
                margin-top: 0;
            }
            justify-content: center;
        }
        @media (min-width: 992px) {
            &:first-child {
                margin-right: 40px;
            }
        }
        .social__item {
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
            .social__link {
                font-weight: normal;
                .social__icon {
                    @media (max-width: 991px) {
                        font-size: 24px;
                    }
                    @media (min-width: 992px) {
                        font-size: 32px;
                    }
                }
            }
        }
    }
    .copyright {
        font-size: 10px;
        line-height: 18px;
        color: #666666;
        @media (max-width: 991px) {
            margin-top: 40px;
        }
        @media (min-width: 992px) {
            text-align: right;
        }
    }
}