@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins";
@import "//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic";
@import "//fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

::selection {
    color: #111111; 
    background: #00AAFF;
}

body {
    background-color: #111111;
    color: #CCCCCC;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    color: #CCCCCC;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover {
        color: #00AAFF;
    }
}

p {
    font-size: 16px;
    line-height: 24px;
    a {
        font-weight: 600;
        color: #CCCCCC;
        position: relative;
        white-space: nowrap;
        &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            z-index: -1;
            height: 2px;
            background-color: #00AAFF;
            transition: all .3s ease-in-out;
        }
        &:hover {
            color: #111111;
            &:after {
                height: 24px;
            }
        }
    }
}

.container {
    margin: auto;
    min-height: 100%;
    @media (max-width: 991px) {
        max-width: 800px;
        padding: 40px 20px;
        text-align: center;
    }
    @media (min-width: 992px) {
        display: grid;
        grid-template-columns: 66.6666666666% 33.3333333333%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "logo photo"
            "intro photo"
            "footer photo";
        max-width: 1200px;
        padding: 40px 40px;
        align-items: center;
        .logo {
            grid-area: logo;
            align-self: end;
        }
        .intro {
            grid-area: intro;
            padding-right: 80px;
        }
        .photo {
            grid-area: photo;
        }
        .footer {
            grid-area: footer;
            align-self: start;
        }
    }
}

.logo {
    @media (max-width: 991px) {
        margin-bottom: 40px;
        img {
            height: 48px;
        }
    }
    @media (min-width: 992px) {
        margin-bottom: 80px;
        img {
            height: 72px;
        }
    }
}

.title {
    @include fluid-font-size(320px, 1200px, 36px, 48px);
    @include fluid-line-height(320px, 1200px, 52px, 64px);
    margin-bottom: 40px;
    font-weight: 900;
    color: #ffffff;
    @media (max-width: 991px) {
        .break {
            display: block;
        }
    }
}

.description {
    @include fluid-font-size(320px, 1200px, 20px, 32px);
    @include fluid-line-height(320px, 1200px, 36px, 46px);
    font-family: 'Merriweather', serif;
    margin-bottom: 40px;
}

 .photo {
    img {
        border-radius: 0 12.5% 0 12.5%;
    }
    @media (max-width: 991px) {
        margin: 40px auto;
        max-width: 66.6666666666%;
    }
}

.footer {
    display: flex;
    @media (max-width: 991px) {
        margin-top: 40px;
        flex-flow: column nowrap;
    }
    @media (min-width: 992px) {
        margin-top: 80px;
        flex-flow: row nowrap;
    }
    .social {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @media (max-width: 991px) {
            margin-top: 40px;
            &:first-child {
                margin-top: 0;
            }
            justify-content: center;
        }
        @media (min-width: 992px) {
            &:first-child {
                margin-right: 40px;
            }
        }
        .social__item {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            .social__link {
                color: #999999;
                &:hover {
                    color: #00AAFF;
                }
                .social__icon {
                    font-size: 24px;
                }
            }
        }
    }
}