@import "font-awesome-sprockets";
@import "font-awesome";

@import "http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic";
@import "http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #111111;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    color: #00AEFF;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover {
        color: #111111;
    }
}

p {
    font-size: 16px;
    line-height: 24px;
    a {
        font-weight: 600;
        color: #111111;
        box-shadow: #00AEFF 0 -2px 0 inset;
        &:hover {
            color: #111111;
            box-shadow: #00AEFF 0 -24px 0 inset;
        }
    }
}

.content {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1200px;
    min-height: 100%;
    margin: auto;
    @media (max-width: 767px) {
        text-align: center;
        padding: 40px 20px;
    }
    @media (min-width: 768px) {
        padding: 0 40px;
    }
    .content__left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        @media (min-width: 768px) {
            padding: 80px 0;
        }
        @media (min-width: 992px) {
            max-width: 750px;
        }
    }
    .content__right {
        @media (max-width: 991px) {
            display: none;
        }
        @media (min-width: 992px) {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            max-width: 450px;
            padding-left: 80px;
            img {
                //max-width: initial;
                //width: 125%;
                border-radius: 12.5%;
            }
        }
    }
}

.logo {
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
    @media (min-width: 768px) {
        margin-bottom: 80px;
    }
    img  {
        @media (max-width: 991px) {
            height: 48px;
        }
        @media (min-width: 992px) {
            height: 72px;
        }
    }
}

@media (max-width: 767px) {
    .break {
        display: block;
    }
}

.title {
    //font-size: calc(32px + 1vw);
    //line-height: calc(48px + 1vw);
    font-size: calc(36px + (44 - 36) * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(52px + (60 - 52) * ((100vw - 320px) / (1200 - 320)));
    margin-bottom: 40px;
    font-weight: 900;
}

.description {
    //font-size: calc(16px + 1vw);
    //line-height: calc(32px + 1vw);
    font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1200 - 320)));
    line-height: calc(36px + (44 - 36) * ((100vw - 320px) / (1200 - 320)));
    font-family: 'Merriweather', serif;
    margin-bottom: 40px;
}

.social {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @media (max-width: 767px) {
        margin-top: 40px;
        justify-content: center;
    }
    @media (min-width: 768px) {
        margin-top: 80px;
    }
    .social__item {
        margin-right: 10px;
        &--space {
            margin-right: 40px;
        }
        &:last-child {
            margin-right: 0;
        }
        .social__link {
            color: #999999;
            &:hover {
                color: #111111;
            }
            .social__icon {
                font-size: 24px;
            }
        }
    }
}