@import "font-awesome-sprockets";
@import "font-awesome";

@import "//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic";
@import "//fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

body {
    background-color: #111111;
    color: #cccccc;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    color: #aaaaaa;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover {
        color: #00AAFF;
    }
}

p {
    font-size: 16px;
    line-height: 24px;
    a {
        font-weight: 600;
        color: #cccccc;
        box-shadow: #00AAFF 0 -2px 0 inset;
        &:hover {
            color: #111111;
            box-shadow: #00AAFF 0 -24px 0 inset;
        }
    }
}

.content {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1200px;
    min-height: 100%;
    margin: auto;
    @media (max-width: 767px) {
        text-align: center;
        padding: 40px 20px;
    }
    @media (min-width: 768px) {
        padding: 0 40px;
    }
    .content__left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        @media (min-width: 768px) {
            padding: 80px 0;
        }
        @media (min-width: 992px) {
            max-width: 750px;
        }
    }
    .content__right {
        @media (max-width: 991px) {
            display: none;
        }
        @media (min-width: 992px) {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            max-width: 450px;
            padding-left: 80px;
            .photo {
                // background-color: #00AAFF;
                // border-radius: 0 12.5% 0 12.5%;
                img {
                    border-radius: 0 12.5% 0 12.5%;
                    // &:hover {
                    //     mix-blend-mode: multiply;
                    // }
                }
            }
        }
    }
}

.logo {
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
    @media (min-width: 768px) {
        margin-bottom: 80px;
    }
    img  {
        @media (max-width: 991px) {
            height: 48px;
        }
        @media (min-width: 992px) {
            height: 72px;
        }
    }
}

@media (max-width: 767px) {
    .break {
        display: block;
    }
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            @media (max-width: #{strip-unit($min-vw)-1}px) {
                font-size: $min-font-size;
            }
            @media (min-width: $min-vw) and (max-width: #{strip-unit($max-vw)-1}px) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

@mixin fluid-line-height($min-vw, $max-vw, $min-line-height, $max-line-height) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-line-height);
    $u4: unit($max-line-height);
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            @media (max-width: #{strip-unit($min-vw)-1}px) {
                line-height: $min-line-height;
            }
            @media (min-width: $min-vw) and (max-width: #{strip-unit($max-vw)-1}px) {
                line-height: calc(#{$min-line-height} + #{strip-unit($max-line-height - $min-line-height)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media (min-width: $max-vw) {
                line-height: $max-line-height;
            }
        }
    }
}

.title {
    //font-size: calc(32px + 1vw);
    //line-height: calc(48px + 1vw);
    //font-size: calc(36px + (48 - 36) * ((100vw - 320px) / (1200 - 320)));
    //line-height: calc(52px + (64 - 52) * ((100vw - 320px) / (1200 - 320)));
    @include fluid-font-size(320px, 1200px, 36px, 48px);
    @include fluid-line-height(320px, 1200px, 52px, 64px);
    margin-bottom: 40px;
    font-weight: 900;
    color: #ffffff;
}

.description {
    //font-size: calc(16px + 1vw);
    //line-height: calc(32px + 1vw);
    //font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1200 - 320)));
    //line-height: calc(36px + (46 - 36) * ((100vw - 320px) / (1200 - 320)));
    @include fluid-font-size(320px, 1200px, 20px, 32px);
    @include fluid-line-height(320px, 1200px, 36px, 46px);
    font-family: 'Merriweather', serif;
    margin-bottom: 40px;
}

.social {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @media (max-width: 767px) {
        margin-top: 40px;
        justify-content: center;
    }
    @media (min-width: 768px) {
        margin-top: 80px;
    }
    .social__item {
        margin-right: 10px;
        &--space {
            margin-right: 40px;
        }
        &:last-child {
            margin-right: 0;
        }
        .social__link {
            color: #999999;
            &:hover {
                color: #00AAFF;
            }
            .social__icon {
                font-size: 24px;
            }
        }
    }
}