@import "font-awesome-sprockets";
@import "font-awesome";

* {
    margin: 0;
}

.header {
    height: 20px;
    .header__inner {
        height: 10px;
    }
    // this is a comment
}
.cameron {
    display: block;
}
.hello {
    display: inline-block;
}
.hi {
    display: block;
}
/* this is another comment */