.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    padding: 0 32px;
    height: 40px;
    font-weight: 600;
    background: transparent;
    font-family: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

.button--primary {
    background-color: var(--black);
    color: var(--white) !important;
}

.button--secondary {
    background-color: var(--white);
    color: var(--black);
}

.button--primary:hover {
    background-color: var(--blue);
    color: var(--black) !important;
}

.button--secondary:hover {
    background-color: var(--blue);
    color: var(--black) !important;
}

.button--primary.button--outline {
    background-color: transparent;
    border: var(--black) 2px solid;
    color: var(--black) !important;

    &:hover {
        background-color: var(--blue) !important;
        border-color: var(--blue) !important;
        color: var(--black) !important;
    }
}

.button--secondary.button--outline {
    background-color: transparent;
    border: var(--white) 2px solid;
    color: var(--white) !important;

    &:hover {
        background-color: var(--blue) !important;
        border-color: var(--blue) !important;
        color: var(--black) !important;
    }
}

.button--small {
    font-size: 12px;
    line-height: 20px;
    height: 32px;
    padding: 0 16px;
    border-radius: 16px;
}

.button--large {
    font-size: 20px;
    line-height: 28px;
    height: 48px;
    padding: 0 32px;
    border-radius: 24px;
}

.button--link {
    color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    height: auto;
}

.button--disabled,
.button[disabled] {
    opacity: .25;
    text-decoration: line-through;
    pointer-events: none;
}

.button--full-width {
    width: 100%;
    max-width: 320px;
}

.button__label {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button__icon {
    margin-right: 8px;
}

.button__icon--trailing {
    margin-right: 0;
    margin-left: 8px;
}

.button-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.button-group--centered {
    justify-content: center;
}

.button-group+.button-group {
    margin-left: 32px;
}

@media (max-width: 767px) {
    .button-group--collapsible {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .button-group {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}