/*.post {
    margin-bottom: 32px;
    padding-bottom: 32px;
    position: relative;
}

.post:after {
    content: ' ';
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right,
            rgba(221, 221, 221, 0) 0%,
            rgba(221, 221, 221, 1) 25%,
            rgba(221, 221, 221, 1) 75%,
            rgba(221, 221, 221, 0) 100%);
}

.post:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.post:last-child:after {
    content: none;
}*/

.posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: -16px;
    margin-right: -16px;

    @media (min-width: 768px) {
        .post {
            width: 50%;

            &:first-child,
            &:nth-child(2) {
                padding-top: 0;
            }
        }
    }

    @media (min-width: 992px) {
        &--3 {
            .post {
                width: 33.3%;

                &:first-child,
                &:nth-child(2),
                &:nth-child(3) {
                    padding-top: 0;
                }
            }
        }
    }

    .post {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 32px;

        @media (min-width: 768px) {
            padding-top: 48px;
        }

        @media (max-width: 767px) {
            &:first-child {
                padding-top: 0;
            }
        }

        img {
            border-radius: 16px;
            border: #fff 8px solid;
            box-shadow: rgba(0, 0, 0, .125) 0 0 16px;
        }

        .post__title a {
            font-weight: 900;
        }

        .post__content {
            padding-top: 32px;
            padding-left: 16px;
            padding-right: 16px;

            @media (min-width: 768px) {
                padding-left: 32px;
                padding-right: 32px;
            }

            @media (max-width: 767px) {
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}