---
layout: compress
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% if page.title
		%}{{ page.title }} - {{ site.title }}{%
	else
		%}{{ site.title }}{%
	endif
	%}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description | strip_newlines }}">
    {% elsif page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
    {% elsif site.description %}
    <meta name="description" content="{{ site.description | strip_newlines }}">
    {% endif %}
    <meta name="google-site-verification" content="6JZG3v_UCsWSTG86tLE4SYPT_kkFNI-wey7RCl5koOg">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
    {% asset application.css data-turbolinks-track="reload" %}
    {% asset application.js data-turbolinks-track="reload" %}
</head>

<body class="default">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-267239-3', 'auto');
        ga('send', 'pageview');
    </script>

    {{ content }}

    {% include _footer.html %}

    {% comment %}
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.css" />
    <script async src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>
    <div hidden id="snipcart" data-api-key="OTM0Mjg2ZDItNjY1OC00MDExLTg5ZTItNDU3ZjE2OGZiYjI4NjM3NDM3OTUzNjQxNDAzNjg1"
        data-currency="gbp" data-config-add-product-behavior="nonei"></div>
    {% endcomment %}
</body>

</html>