<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>driz - Cameron Drysdale</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="Hello. I'm Cameron. &mdash; a software engineer, graphic designer, photographer, and mountain biker based in Kelham Island, Sheffield.">
        <link rel="shortcut icon" href="/favicon.ico">
        {% css main %}
    </head>
    <body>

        <div class="content">
            <div class="logo">{% img 'logo.svg' alt:'driz logo' %}</div>
            {{ content }}
        </div>

    </body>
</html>