.footer {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: 768px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.copyright {
    font-size: 12px;
    line-height: 20px;
    color: #666;
    margin-bottom: 8px;
}

.version {
    font-family: monospace;
    font-size: 10px;
    line-height: 18px;
    color: #666;
}

.footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    li {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 991px) {
    /* .footer-menu {
        flex-direction: column;
    }

    .footer-menu li {
        margin-bottom: 16px;
    }

    .footer-menu li:last-child {
        margin-bottom: 0;
    } */

    .footer-menu {
        display: none;
    }
}

@media (min-width: 992px) {
    .footer-menu {
        flex-direction: row;
    }

    .footer-menu li {
        margin-right: 16px;
    }

    .footer-menu li:last-child {
        margin-right: 0;
    }
}

/* .footer-menu li:after {
    display: inline-flex;
    content: '\2022';
    color: #666;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-menu li:last-child:after {
    content: '';
    padding-left: 0;
    padding-right: 0;
} */

.footer-menu li a {
    color: #ccc;
    font-weight: 600;
    box-shadow: none;

    &:hover {
        color: var(--black);
        box-shadow: inset var(--blue) 0 -2.1em 0;
    }
}

/* .footer-menu li a.selected {
    color: #fff;
    font-weight: 600;
    box-shadow: var(--blue) 0 4px 0;
} */

.footer-menu li a.disabled {
    text-decoration: line-through;
    opacity: .5;
    pointer-events: none;
}