.footer {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: 768px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.copyright {
    font-size: 12px;
    line-height: 20px;
    color: #666;
    margin-bottom: 8px;
}

.version {
    font-size: 10px;
    line-height: 18px;
    color: #666;
}

.social {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    padding-bottom: 34px;
    position: relative;
}

.social:after {
    content: ' ';
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, .125) 25%,
            rgba(255, 255, 255, .125) 75%,
            rgba(255, 255, 255, 0) 100%);

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.social li {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }

    i {
        font-size: 32px;
    }
}

.social li a {
    color: #fff;
    font-weight: 400;
    box-shadow: none !important;
}

.social li a:hover {
    color: #fff;
}

.social li a i {
    transition: all .2s ease-in-out;
}

.social li a:hover i {
    color: var(--blue);
    transform: scale(1.2);
}

.footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.footer-menu li {
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 991px) {
    /* .footer-menu {
        flex-direction: column;
    }

    .footer-menu li {
        margin-bottom: 16px;
    }

    .footer-menu li:last-child {
        margin-bottom: 0;
    } */

    .footer-menu {
        display: none;
    }
}

@media (min-width: 992px) {
    .footer-menu {
        flex-direction: row;
    }

    .footer-menu li {
        margin-right: 16px;
    }

    .footer-menu li:last-child {
        margin-right: 0;
    }
}

/* .footer-menu li:after {
    display: inline-flex;
    content: '\2022';
    color: #666;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-menu li:last-child:after {
    content: '';
    padding-left: 0;
    padding-right: 0;
} */

.footer-menu li a {
    color: #ccc;
    font-weight: 600;
    /* box-shadow: #fff 0 2px 0; */
}

.footer-menu li a:hover {
    color: var(--black);
    // color: var(--blue);
    /* box-shadow: var(--blue) 0 2px 0; */
}

/* .footer-menu li a.selected {
    color: #fff;
    font-weight: 600;
    box-shadow: var(--blue) 0 4px 0;
} */

.footer-menu li a.disabled {
    text-decoration: line-through;
    opacity: .5;
    pointer-events: none;
}