.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    position: relative;
    padding-top: 32px;
    padding-bottom: 34px;
    margin-bottom: 32px;

    @media (min-width: 768px) {
        padding-top: 48px;
        margin-bottom: 64px;
    }
}

.header:after {
    content: ' ';
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, .125) 25%,
            rgba(255, 255, 255, .125) 75%,
            rgba(255, 255, 255, 0) 100%);

    // width: 100vw;
    // left: 50%;
    // right: 50%;
    // margin-left: -50vw;
    // margin-right: -50vw;
}

.logo {
    display: inline-block;
    position: relative;
    z-index: 2;
    box-shadow: none !important;

    img {
        max-height: 48px;
    }
}

.burger {
    display: inline-flex;
    justify-content: flex-end;
    height: 32px;
}

@media (min-width: 992px) {
    .burger {
        display: none;
    }
}

.burger__link {
    display: inline-flex;
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 2;
    box-shadow: none !important;
}

.burger__line {
    height: 4px;
    background-color: var(--white);
    position: absolute;
    transition: all .1s ease-in-out .2s, transform .2s ease-in-out 0s;
}

.burger__line:nth-child(1) {
    top: 8px;
    right: 0;
    left: 0;
}

.burger__line:nth-child(2) {
    bottom: 8px;
    left: 0;
    right: 0;
}

.burger__link:not(.burger__link--active):hover .burger__line:nth-child(1) {
    top: 4px;
}

.burger__link:not(.burger__link--active):hover .burger__line:nth-child(2) {
    bottom: 4px;
}

.burger__link--active {

    .burger__line {
        transition: all .1s ease-in-out 0s, transform .2s ease-in-out .1s;
    }

    .burger__line:nth-child(1) {
        transform: rotate(45deg);
        top: 14px;
    }

    .burger__line:nth-child(2) {
        transform: rotate(-45deg);
        bottom: 14px;
    }
}

.menu {
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-menu {
    list-style: none;
    display: flex;
}

.menu-menu li {
    margin-right: 32px;
    font-size: 24px;
    line-height: 32px;
}

.menu-menu li a {
    color: var(--foreground);
    font-weight: 600;
    display: flex;
    align-items: center;
}

.menu-menu li a:hover {
    color: var(--black);
    box-shadow: inset var(--blue) 0 -2.1em 0;
}

.menu-menu li a.selected {
    color: var(--white);
    font-weight: 600;
    box-shadow: inset var(--blue) 0 -4px 0;
}

.menu-menu li a.disabled {
    text-decoration: line-through;
    opacity: .5;
    pointer-events: none;
}

@media (max-width: 991px) {
    .menu {
        position: fixed;
        background-color: var(--black);
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 1;

        transform: translateY(-100%);
        transition: all .2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .show-menu {
        overflow: hidden;

        .menu {
            transform: translateY(0);
            overflow-y: auto;
        }
    }

    .menu-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-menu li {
        margin-bottom: 16px;
    }

    .menu-menu li:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .menu-menu {
        justify-content: flex-end;
        align-items: center;
    }

    .menu-menu li {
        margin-right: 32px;
    }

    .menu-menu li.home {
        display: none;
    }

    .menu-menu li:last-child {
        margin-right: 0;
    }
}