<section id="photos" class="section section--white">
    <div class="container">
        <h2 class="center animation animation--fade-in">I like to take photos<span class="blue">.</span></h2>
        <div class="content__column">
            <p class="center animation animation--fade-in">I enjoy getting out and about and taking photos with my Nikon DSLR and iPhone (mostly
                landscape and macro). Check out some of my photos on <a href="https://flickr.com/driz"
                    target="_blank" rel="external">Flickr</a> and <a href="https://instagram.com/iamdriz"
                    target="_blank" rel="external">Instagram</a>.</p>
        </div>
        <div class="photo-list">
            <div class="photo-list__item animation animation--fade-in">
                <a target="_blank" href="https://www.flickr.com/photos/driz/30348012848/" title="Bokeh Bee">
                    <img src="https://live.staticflickr.com/1897/30348012848_6f44465b0c_k.jpg" width="2048"
                        height="1152" alt="Bokeh Bee">
                </a>
            </div>
            <div class="photo-list__item animation animation--fade-in">
                <a target="_blank" href="https://www.flickr.com/photos/driz/28678983897/" title="Moss">
                    <img src="https://live.staticflickr.com/1767/28678983897_86f1c21a59_k.jpg" width="2048"
                        height="1365" alt="Moss">
                </a>
            </div>
            <div class="photo-list__item animation animation--fade-in">
                <a target="_blank" href="https://www.flickr.com/photos/driz/43517874472/" title="Mould">
                    <img src="https://live.staticflickr.com/1830/43517874472_3944f4dc54_k.jpg" width="2048"
                        height="1365" alt="Mould">
                </a>
            </div>
            <div class="photo-list__item animation animation--fade-in">
                <a target="_blank" href="https://www.flickr.com/photos/driz/36600204296/"
                    title="B&amp;W Fraisthorpe Beach">
                    <img src="https://live.staticflickr.com/4353/36600204296_4edd6e3e31_k.jpg" width="2048"
                        height="1365" alt="B&amp;W Fraisthorpe Beach">
                </a>
            </div>
            <div class="photo-list__item animation animation--fade-in">
                <a target="_blank" href="https://www.flickr.com/photos/driz/40475421421/" title="Old Wood">
                    <img src="https://live.staticflickr.com/4768/40475421421_508a9838ce_k.jpg" width="2048"
                        height="1365" alt="Old Wood">
                </a>
            </div>
            <div class="photo-list__item animation animation--fade-in">
                <a target="_blank" href="https://www.flickr.com/photos/driz/43517817102/" title="Public Footpath">
                    <img src="https://live.staticflickr.com/941/43517817102_d699286398_k.jpg" width="2048"
                        height="1365" alt="Public Footpath">
                </a>
            </div>
        </div>
        <div class="divider divider--border-to">
            <div class="button-group button-group--centered button-group--collapsible">
                <div class="button-group animation animation--fade-in">
                    <a class="button button--primary button--outline" href="https://flickr.com/driz" target="_blank"
                        rel="external">
                        <i class="button__icon fab fa-flickr fa-fw"></i>
                        <span class="button__label">View more on Flickr</span>
                    </a>
                </div>
                <div class="button-group animation animation--fade-in">
                    <a class="button button--primary button--outline" href="https://instagram.com/iamdriz"
                        target="_blank" rel="external">
                        <i class="button__icon fab fa-instagram fa-fw"></i>
                        <span class="button__label">View more on Instagram</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>