<section id="work" class="section section--off-white section--white-skew-bottom">
    <div class="container">
        <div class="work-wrapper section--red-skew-bottom">
            <div class="container">
                <h2 class="center animation animation--fade-in">Design <span class="blue">&plus;</span> development of
                    apps and websites<span class="blue">.</span></h2>
                <div class="content__column">
                    <p class="center animation animation--fade-in">Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Saepe officia
                        voluptates
                        eveniet labore alias odio voluptate expedita inventore corporis repellat, deleniti illum
                        laborum
                        ducimus.</p>
                    <p class="center bold animation animation--fade-in">I&#8217;ll be adding a portfolio of work in the
                        near future.</p>
                </div>
                <div class="work-screens">
                    <div class="animation animation--slide-in-left">
                        {% asset 'hero-desktop-vector.svg' alt:'' %}
                    </div>
                    <div class="animation animation--slide-in-right">
                        {% asset 'hero-ipad-vector.svg' alt:'' %}
                    </div>
                    <div class="animation animation--slide-in-right">
                        {% asset 'hero-iphone-vector.svg' alt:'' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="skills">
            <div class="skill">
                <i class="skill__icon far fa-paint-brush fa-fw animation animation--bounce-in"></i>
                <h4 class="skill__title animation animation--fade-in">Design<span class="blue">.</span></h4>
                <ul class="skill__description animation animation--fade-in">
                    <li>Branding</li>
                    <li>Atomic design</li>
                    <li>Design systems</li>
                    <li>UI/UX</li>
                    <li>Accessibility</li>
                    <li>Web design</li>
                </ul>
            </div>
            <div class="skill">
                <i class="skill__icon far fa-code fa-fw animation animation--bounce-in"></i>
                <h4 class="skill__title animation animation--fade-in">Code<span class="blue">.</span></h4>
                <ul class="skill__description animation animation--fade-in">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Sass</li>
                    <li>PHP</li>
                    <li>Ruby</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>JSX</li>
                    <li>Node.js</li>
                    <li>SQL</li>
                </ul>
            </div>
            <div class="skill">
                <i class="skill__icon far fa-server fa-fw animation animation--bounce-in"></i>
                <h4 class="skill__title animation animation--fade-in">DevOps<span class="blue">.</span></h4>
                <ul class="skill__description animation animation--fade-in">
                    <li>Heroku</li>
                    <li>Apache</li>
                    <li>Nginx</li>
                    <li>IIS</li>
                    <li>AWS</li>
                    <li>GitHub</li>
                    <li>Bitbucket</li>
                    <li>Docker</li>
                    <li>Bamboo</li>
                    <li>Jenkins</li>
                </ul>
            </div>
            <div class="skill">
                <i class="skill__icon far fa-cog fa-fw animation animation--bounce-in"></i>
                <h4 class="skill__title animation animation--fade-in">Frameworks<span class="blue">.</span></h4>
                <ul class="skill__description animation animation--fade-in">
                    <li>WordPress</li>
                    <li>Textpattern</li>
                    <li>Ruby on Rails</li>
                    <li>Jekyll</li>
                    <li>Gatsby</li>
                    <li>Ionic</li>
                    <li>Cordova</li>
                    <li>Electron</li>
                </ul>
            </div>
            <div class="skill">
                <i class="skill__icon far fa-flask fa-fw animation animation--bounce-in"></i>
                <h4 class="skill__title animation animation--fade-in">Test and Lint<span class="blue">.</span></h4>
                <ul class="skill__description animation animation--fade-in">
                    <li>RSpec</li>
                    <li>Cucumber</li>
                    <li>Rubocop</li>
                    <li>Brakeman</li>
                    <li>Jest</li>
                    <li>Mocha</li>
                    <li>Chai</li>
                    <li>ESLint</li>
                    <li>Stylelint</li>
                    <li>Selenium</li>
                </ul>
            </div>
            <div class="skill">
                <i class="skill__icon far fa-tools fa-fw animation animation--bounce-in"></i>
                <h4 class="skill__title animation animation--fade-in">Tools<span class="blue">.</span></h4>
                <ul class="skill__description animation animation--fade-in">
                    <li>Adobe CS/CC</li>
                    <li>Sketch</li>
                    <li>Figma</li>
                    <li>AngularJS</li>
                    <li>React</li>
                    <li>Vue</li>
                    <li>jQuery</li>
                    <li>Stimulus</li>
                    <li>PostCSS</li>
                    <li>Webpack</li>
                </ul>
            </div>
        </div>

        {% comment %}<div class="work-list">
            <div class="work-list__item">
                <img src="https://picsum.photos/1920/1080" width="1920" height="1080">
            </div>
            <div class="work-list__item">
                <img src="https://picsum.photos/1920/1080" width="1920" height="1080">
            </div>
        </div>{% endcomment %}

        <div class="divider divider--border-top">
            <h3 class="margin-bottom-2 center animation animation--fade-in">Some of the clients I&#8217;ve worked
                with<span class="blue">.</span>
            </h3>
            {% comment %}<p class="margin-bottom-3 center animation animation--fade-in">Large and small, private and
                public sector.</p>{% endcomment %}
            <div class="margin-bottom-3 content__column">
                <p class="center animation animation--fade-in">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Saepe officia voluptates
                    eveniet labore alias odio voluptate expedita inventore corporis repellat, deleniti illum laborum
                    ducimus.</p>
            </div>
            <div class="client-logos">
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/vodafone.svg' alt:'Vodafone' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/mars.svg' alt:'Mars' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/nhs.svg' alt:'NHS' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/the_floow.svg' alt:'The Floow' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/sheffield_hallam_university.svg' alt:'Sheffield Hallam University' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/direct_line_group.svg' alt:'Direct Line Group' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/nicholas_associates_software.svg' alt:'Nicholas Associates Software' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/aaa.svg' alt:'AAA' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/taschen.svg' alt:'Taschen' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/haven_holidays.svg' alt:'Haven Holidays' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    {% asset 'clients/butlins.svg' alt:'Butlins' width="640" height="360" %}
                </div>
                <div class="client-logos__item animation animation--fade-in">
                    <div class="">
                        <a href="/contact">You?</a>
                    </div>
                </div>
            </div>
        </div>

        {% comment %}<div class="divider divider--border-top">
            <div class="button-group button-group--centered button-group--collapsible">
                <div class="button-group">
                    <a class="button button--disabled button--primary">
                        <i class="button__icon far fa-images fa-fw"></i>
                        <span class="button__label">View my work</span>
                    </a>
                </div>
                <div class="button-group">
                    <a class="button button--primary button--outline" href="/contact">
                        <i class="button__icon far fa-comment-dots fa-fw"></i>
                        <span class="button__label">Get in touch</span>
                    </a>
                </div>
            </div>
        </div>{% endcomment %}
    </div>
</section>

<!--
<div id="slider-desktop" class="slider slider--desktop" data-controller="slider" data-slider-index-value="0">
    <div class="slide" data-slider-target="slide">
        <img src="https://picsum.photos/1440/900?random=7"
            srcset="https://picsum.photos/1440/900?random=7 1x, https://picsum.photos/2880/1800?random=7 2x"
            width="1440" height="900" alt="">
    </div>
    <div class="slide" data-slider-target="slide">
        <img src="https://picsum.photos/1440/900?random=8"
            srcset="https://picsum.photos/1440/900?random=8 1x, https://picsum.photos/2880/1800?random=8 2x"
            width="1440" height="900" alt="">
    </div>
    <div class="slide" data-slider-target="slide">
        <img src="https://picsum.photos/1440/900?random=9"
            srcset="https://picsum.photos/1440/900?random=9 1x, https://picsum.photos/2880/1800?random=9 2x"
            width="1440" height="900" alt="">
    </div>
</div>

<div id="slider-tablet" class="slider slider--tablet" data-controller="slider" data-slider-index-value="0">
    <div class="slide" data-slider-target="slide">
        <img src="https://picsum.photos/768/1024?random=4"
            srcset="https://picsum.photos/768/1024?random=4 1x, https://picsum.photos/1536/2048?random=4 2x" width="768"
            height="1024" alt="">
    </div>
    <div class="slide" data-slider-target="slide">
        <img src="https://picsum.photos/768/1024?random=5"
            srcset="https://picsum.photos/768/1024?random=5 1x, https://picsum.photos/1536/2048?random=5 2x" width="768"
            height="1024" alt="">
    </div>
    <div class="slide" data-slider-target="slide">
        <img src="https://picsum.photos/768/1024?random=6"
            srcset="https://picsum.photos/768/1024?random=6 1x, https://picsum.photos/1536/2048?random=6 2x" width="768"
            height="1024" alt="">
    </div>
</div>

<div id="slider-mobile" class="slider slider--mobile" data-controller="slider" data-slider-index-value="0">
    <div class="slide" data-slider-target="slide">
        <img src="https://picsum.photos/375/667?random=1"
            srcset="https://picsum.photos/375/667?random=1 1x, https://picsum.photos/750/1334?random=1 2x" width="375"
            height="667" alt="">
    </div>
    <div class="slide" data-slider-target="slide">
        <img src="https://picsum.photos/375/667?random=2"
            srcset="https://picsum.photos/375/667?random=2 1x, https://picsum.photos/750/1334?random=2 2x" width="375"
            height="667" alt="">
    </div>
    <div class="slide" data-slider-target="slide">
        <img src="https://picsum.photos/375/667?random=3"
            srcset="https://picsum.photos/375/667?random=3 1x, https://picsum.photos/750/1334?random=3 2x" width="375"
            height="667" alt="">
    </div>
</div>
-->